
@media (min-width: 280px) and (max-width: 320px) {
	.app_link_icon {
		max-width: 120px;
		max-height: 31px;
		padding: 0px 7px;
	}
	.app_link_icon_td, .app_link_text_td {
		padding: 7px;
	}
	.app_link_text_td{
		/*width: 168px;*/
	}
	.app_link_big {
		font-size: 15px;
		white-space: nowrap;
	}
	.app_link_small {
		font-size: 11px;
		white-space: nowrap;
	}
}

@media (min-width: 321px) and (max-width: 767px) {
	.app_link_icon {
		max-width: 140px;
		max-height: 36px;
		padding-right: 14px;
	}
	.app_link_icon_td, .app_link_text_td {
		padding: 7px;
		float: left;
		margin-bottom: 20px;
	}
	.app_link_text_td{
		/*width: 168px;*/
		margin-bottom: 0px;
	}
	.app_link_big {
		font-size: 15px;
		white-space: nowrap;
	}
	.app_link_small {
		font-size: 11px;
		white-space: nowrap;
	}
}

@media (min-width: 768px){
	.app_link_icon {
		max-width: 150px;
		max-height: 44px;
		margin-right: 14px;
	}
	.app_link_icon_td, .app_link_text_td {
		padding: 7px;
		float: left;
		margin-bottom: 20px;
	}
	.app_link_big {
		font-size: 17px;
		white-space: nowrap;
	}
	.app_link_small {
		font-size: 13px;
		white-space: nowrap;
	}
}

.entry-content {
	clear: both;
}