/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import 'flexvideo.css';
@import 'fix-bootstrap.css';

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('fonts/MyriadPro-Regular_0.eot');
  src: url('fonts/MyriadPro-Regular_0.eot?#iefix') format('embedded-opentype'),
       url('fonts/MyriadPro-Regular_0.woff') format('woff'),
       url('fonts/MyriadPro-Regular_0.otf') format('opentype'),
       url('fonts/MyriadPro-Regular_0.ttf') format('truetype');
}
@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('fonts/MyriadPro-Bold_0.otf');
}
@font-face {
  font-family: 'LucidaGrande';
  src: url('fonts/LucidaGrande.ttc');
}

/* @font-face { */
/* font-family: 'Sri-TSCRegular'; */
/* src: url('sri-tsc-webfont.eot'); */
/* src: url('sri-tsc-webfont.eot?#iefix') format('embedded-opentype'), */
	 /* url('sri-tsc-webfont.woff') format('woff'), */
	 /* url('sri-tsc-webfont.ttf') format('truetype'), */
	 /* url('sri-tsc-webfont.svg#Sri-TSCRegular') format('svg'); */
/* } */
pre{
	width: 100%;
	padding: 0px;
}
body {
	font-family:'MyriadPro-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', 'STHeiti', 'Microsoft JhengHei', '微軟正黑體', 'sans-serif';
	font-size:100%;
	color:#4a4a4a;
	line-height:22px;
}
h4{font-size:180%}
.consult_list {font-size:160%}
.entry-content ul li {font-size:160%}
.dataTables_filter, .tablepress  {font-size:160%}
/* .entry-content em {font-size:160%} */
.entry-content {
	/* font-family:Arial; */
	/* font-size:160%; */
	font-family:'MyriadPro-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', 'STHeiti', 'Microsoft JhengHei', '微軟正黑體', 'sans-serif';
	color:#4a4a4a;
	line-height:26px;
}
.entry-content p {margin:0px 0px 15px 0px;font-size:160%;text-align:justify}

table.full-center {

}
table.full-center td {
	padding:0px;
	text-align: center;
}
img.aligncenter {
	display: block;
	margin: 0 auto;
}

.type-tdprojects .entry-content.tdprojects h1{
	font-size: 200%;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
.type-tdprojects .entry-content.tdprojects h1 strong{
	font-size: 100%;
}

.type-tdprojects .entry-content.tdprojects h2{
	font-size: 150%;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
.type-tdprojects .entry-content.tdprojects h2 strong{
	font-size: 100%;
}

.type-tdprojects .entry-content.tdprojects h3{
	font-size: 117%;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
.type-tdprojects .entry-content.tdprojects h3 strong{
	font-size: 100%;
}

.type-tdprojects .entry-content.tdprojects h4{
	font-size: 100%;
	display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
.type-tdprojects .entry-content.tdprojects h4 strong{
	font-size: 100%;
}

.type-tdprojects .entry-content.tdprojects h5{
	font-size: 83%;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
.type-tdprojects .entry-content.tdprojects h5 strong{
	font-size: 100%;
}

.type-tdprojects .entry-content.tdprojects h6{
	font-size: 67%;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
.type-tdprojects .entry-content.tdprojects h6 strong{
	font-size: 100%;
}
.type-tdprojects .entry-content.tdprojects p{
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: left;
    font-weight: 50;
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    -webkit-font-smoothing: antialiased;
}

html[lang="zh-HK"] .type-tdprojects .entry-content.tdprojects *:not(strong),
html[lang="zh-CN"] .type-tdprojects .entry-content.tdprojects *:not(strong) {
	font-family:'MyriadPro-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', 'STHeiti', 'Microsoft JhengHei', '微軟正黑體', 'sans-serif';
	font-weight: 400;
}

html[lang="zh-HK"] .type-tdprojects .entry-content.tdprojects strong,
html[lang="zh-CN"] .type-tdprojects .entry-content.tdprojects strong,
html[lang="zh-HK"] .type-tdprojects .entry-content.tdprojects strong *,
html[lang="zh-CN"] .type-tdprojects .entry-content.tdprojects strong * {
	font-weight: 700 !important;
}
.type-tdprojects .entry-content.tdprojects li{
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    -webkit-font-smoothing: antialiased;
}

/* ancient-browser-alert error */
.ancient-browser-alert {
	background: #a00;
	color: #faa;
	display: block;
	padding: 3px 0;
	text-align: center;
}
.ancient-browser-alert a {
	color: #fff;
	text-decoration: underline;
}



.page-header-top-right {
	margin-top: 20px;
}



.pagination {
	margin: 0;
}



.pagination-center {
	text-align: center;
}
.pagination-row {
	margin-bottom: 20px;
}



.required {
	color: #f00;
}



.row-with-vspace {
	margin-bottom: 20px;
}



.site-main .format-aside {
	background: #f5f5f5;
}
.site-main .format-image {
	background: url('../img/content-post-format-image.png') left top no-repeat;
}
.site-main .format-link {
	background: url('../img/content-post-format-link.png') left top no-repeat;
}
.site-main .format-quote {
	background: url('../img/content-post-format-quote.png') left top no-repeat;
}
.site-main .format-video {
	background: url('../img/content-post-format-video.png') left top no-repeat;
}



.site-title {
	margin-bottom: 0;
	margin-top: 23px;
	z-index: 2;
}
.site-title > a {
	text-decoration: none;
}
.site-title > div {
	height: auto;
	line-height: 18px;
}
.site-title .site-description {
	color: #999;
	font-size: 160%;
}
.site-title .site-title-heading {
	margin: 0;
}



.widget_calendar #wp-calendar {
	margin: 0;
}
.widget_calendar #wp-calendar #next {
	text-align: right;
}



#comments .comment-navigation {
	margin-bottom: 0;
}
#comments .comment-navigation-below {
	margin-bottom: 20px;
	margin-top: 15px;
}
#comments .media-list li .media {
	margin-top: 15px;
}
#comments .media-list li .media .media-body {
	border: 1px solid #eee;
	padding: 10px;
}
#comments .media-list li .media .media-body .comment-author {
	font-size: 120%;
	margin-bottom: 10px;
}
#comments .media-list ul.children {
	list-style: none;
	margin-left: 2.5em;
}


#main-column .wp-video-shortcode {
	display: block;
	height: auto;
	max-width: 100%;
}
#main-column .attachment .entry-content {
	margin-bottom: 20px;
}
#main-column .attachment .entry-content .attachment {
	text-align: center;
}
#main-column .attachment .entry-meta {
	margin-bottom: 20px;
}
#main-column .post,
#main-column .page {
	/*border: 1px solid #eee;
	margin-bottom: 20px;
	padding: 10px;*/
}
#main-column .post .entry-header .entry-meta {
	color: #999;
}
#main-column .post .entry-header .entry-meta a {
	color: inherit;
}
#main-column .post .entry-header .entry-meta .posted-on .updated {
	display: none;
}
#main-column .post .entry-meta .categories-icon {
	cursor: default;
}
#main-column .post .entry-meta .comments-link a {
	color: #333;
}
#main-column .post .entry-meta .comments-link a .comment-icon .comment-total,
#main-column .page .entry-meta .comments-link a .comment-icon .comment-total {
	color: #555;
	font-size: 120%;
	margin-left: 5px;
}
#main-column .attachment .edit-post-link a,
#main-column .attachment .entry-meta .edit-post-link a,
#main-column .post .entry-meta .edit-post-link a,
#main-column .page .entry-meta .edit-post-link a {
	color: #333;
}
#main-column .post .entry-meta .tags-icon {
	cursor: default;
}
#main-column .attachment .entry-title,
#main-column .post .entry-title,
#main-column .page .entry-title {
}



#sidebar-left .widget,
#sidebar-right .widget {
	border: 1px solid #eee;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 10px;
}
#sidebar-left .widget ul,
#sidebar-right .widget ul {
	padding-left: 20px;
}
#sidebar-left .widget .widget-title,
#sidebar-right .widget .widget-title {
	font-size: 180%;
	margin-top: 0;
}



#site-footer {
	background: transparent;
	/* border-top: 3px solid #ddd; */
	/* font-size: 120%; */
	/* padding: 10px; */
	padding-top: 37px;
	background:#f8f8f8;
}

.std-box img {
	width:100%;
}
#menu-footer-link-1,#menu-footer-link-2,#menu-footer-link-3{
	overflow:hidden;
	float:left;
	padding:0px 20px;
	margin:0px;
	border-right:1px solid #13366d;
}
/*#nav_menu-3, #nav_menu-5, #nav_menu-6 {
	float:right;
	overflow:hidden;
}*/
/*#menu-footer-link-3{
	border-right:0px;
	padding-right:0px;
}
#menu-footer-link-1 li,#menu-footer-link-2 li,#menu-footer-link-3 li{
	list-style:none;
	text-align:left;
}
#menu-footer-link-1 li:nth-child(even),#menu-footer-link-2 li:nth-child(even),#menu-footer-link-3 li:nth-child(even){
	line-height:35px;
}
#menu-footer-link-4 {
	padding:0px;
	margin:0px;
}
#menu-footer-link-4 li{
	list-style:none;
	float:left;
	padding: 0px 10px;
	border-right: 1px solid #00adef;
}
#menu-footer-link-4 li:last-child{
	border-right: none;
	padding: 0px 0px 0px 10px;
}*/
#custom_post_widget-7 {
	list-style:none;
}
#footer-row2 {
	margin-top: 30px;
	margin-bottom:20px;
}
#header-logo {
	width:165px;
}
#custom_post_widget-3, #custom_post_widget-20, #custom_post_widget-21,
#polylang-3, #custom_post_widget-4 {
	float: left;
	overflow:hidden;
	padding:0px;
}
#polylang-3 {
	margin: 0px 9px;
}
#polylang-3 li {
	list-style:none;
	float:left;
	padding:0px 9px;
}
#polylang-3 li a {
	/* font-family:MyriadPro-Regular, Arial; */
	font-size:160%;
	color:#13366d;
	line-height:24px;
}
#polylang-3 ul {
	overflow:hidden;
	padding:0px 0px;
	margin:0px;
}
.search-form {
	display:none;
}
.navbar-nav {
	float:right;
}
.navbar-collapse {
	padding:0px;
	border:0px;
	text-align:right;
	margin-bottom:0px;
	/* min-height:inherit; */
	/* margin-top:30px; */
}
.nav>li>a{
	font-family:LucidaGrande, 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', 微軟正黑體, sans-serif;
	font-size:180%;
	color:#13366d !important;
	text-align:right;
	margin:0px;
	padding:0px;
}
.nav>li {
	margin:0px 15px;
	padding:0px 5px 5px 5px;
	border-bottom:2px solid transparent;
}
#menu-item-1167186:hover, #menu-item-1167186.active, #menu-item-1167186.current-page-ancestor,
#menu-item-1180624:hover, #menu-item-1180624.active, #menu-item-1180624.current-page-ancestor,
#menu-item-1180598:hover, #menu-item-1180598.active, #menu-item-1180598.current-page-ancestor {
	border-bottom:2px solid #00adef;
}
#menu-item-1167180:hover, #menu-item-1167180.active, #menu-item-1167180.current-page-ancestor,
#menu-item-1180617:hover, #menu-item-1180617.active, #menu-item-1180617.current-page-ancestor,
#menu-item-1180595:hover, #menu-item-1180595.active, #menu-item-1180595.current-page-ancestor {
	border-bottom:2px solid #50e3c2;
}
#menu-item-1167173:hover, #menu-item-1167173.active, #menu-item-1167173.current-page-ancestor,
#menu-item-1180607:hover, #menu-item-1180607.active, #menu-item-1180607.current-page-ancestor,
#menu-item-1180580:hover, #menu-item-1180580.active, #menu-item-1180580.current-page-ancestor {
	border-bottom:2px solid #ac1a25;
}
#menu-item-1167172:hover, #menu-item-1167172.active, #menu-item-1167172.current-page-ancestor,
#menu-item-1180606:hover, #menu-item-1180606.active, #menu-item-1180606.current-page-ancestor,
#menu-item-1180634:hover, #menu-item-1180634.active, #menu-item-1180634.current-page-ancestor {
	border-bottom:2px solid #a26cab;
}
#menu-item-1167167:hover, #menu-item-1167167.active, #menu-item-1167167.current-page-ancestor,
#menu-item-1180605:hover, #menu-item-1180605.active, #menu-item-1180605.current-page-ancestor,
#menu-item-1180597:hover, #menu-item-1180597.active, #menu-item-1180597.current-page-ancestor
 {
	border-bottom:2px solid #7ed321;
}

.dropdown-toggle .caret {
	display:none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-collapse, .navbar-default .navbar-form,.navbar-default  {
	background:transparent;box-shadow:none
}

.std-box:hover {text-decoration:none}
/* .std-box:nth-child(3n+2) {margin:0px 1.25%} */
.std-box-header {width:100%;height:5px;background-color:#00adef;}
.std-box-container {margin:15px 15px;}
.std-box-wrapper {clear:both}
.std-box-title {/* font-family:MyriadPro-Regular, Arial; */
font-size:220%;
color:#0b234a;
line-height:25px;
text-align:left;}
.std-box-date {margin-top:20px;text-align:right;font-family:MyriadPro-Bold, MyriadPro-Regular, 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', 微軟正黑體, sans-serif;
font-size:120%;
color:#0b234a;
letter-spacing:-0.34px;}
.std-box-img {width:100%;text-align:center;margin:10px 0px;}
.std-box-type {font-family:MyriadPro-Bold, MyriadPro-Regular, 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', 微軟正黑體, sans-serif;
font-size:170%;
color:#0b234a;
text-align:justify;}
.std-box-desc {margin:10px 0px 20px;/* font-family:MyriadPro-Regular, Arial; */
font-size:140%;
color:#0b234a;
line-height:19px;
text-align:justify;}
.std-box-more {border: 2px solid #0b234a;
    color: #0b234a;
    height: 20px;
    float: right;
    margin-bottom: 10px;
    font-family: MyriadPro-Bold, MyriadPro-Regular, Arial;
    font-size: 200%;
    line-height: 5px;
    letter-spacing: 3px;
    padding: 0px 5px 0px 8px;}
.std-box-margin {margin:0px 5px;background-color:#EEE}
#custom_post_widget-5,
#custom_post_widget-17,
#custom_post_widget-18 {
	/* font-family:MyriadPro-Regular, Arial; */
	/* font-size:150%; */
	color:#4a4a4a;
}
#custom_post_widget-5 a,#custom_post_widget-5 a:hover,
#custom_post_widget-17 a,#custom_post_widget-17 a:hover,
#custom_post_widget-18 a,#custom_post_widget-18 a:hover{
	color:#4a4a4a;
	/* font-size:140%; */
}
.site-footer img {margin-right:10px}
#custom_post_widget-5 p:first-child,
#custom_post_widget-17 p:first-child,
#custom_post_widget-18 p:first-child{
	font-size:170%;
	color:#13366d;
}
#custom_post_widget-5 p:not(:first-child),
#custom_post_widget-17 p:not(:first-child),
#custom_post_widget-18 p:not(:first-child) {
	font-size:140%;
}

#custom_post_widget-5 p,
#custom_post_widget-17 p,
#custom_post_widget-18 p {
	line-height:26px;
}
#custom_post_widget-7,
#custom_post_widget-10,
#custom_post_widget-13 {
	/* font-family:MyriadPro-Regular, Arial; */
	font-size:120%;
	color:#00adef;
	text-align:left;
}
/*#menu-footer-link-4 li a {
	font-family:MyriadPro-Regular, Arial;
font-size:12px;
color:#00adef;
text-align:left;
}*/
.footer-right a {
	/* font-family:MyriadPro-Regular, Arial; */
font-size:140%;
color:#13366d;
text-align:left;
}
#nav_menu-10 {
	list-style:none;
	float:right;
}
#custom_post_widget-3 a,
#custom_post_widget-20 a,
#custom_post_widget-21 a{
	padding:0px 9px;
}
#custom_post_widget-4 a {
	padding:0px 2px;
	/* font-family:MyriadPro-Regular, Arial; */
color:#13366d;
text-align:left;
line-height:24px;
}
#custom_post_widget-4 p{
	line-height:24px;
}
.navbar {
	min-height:inherit;
	margin-bottom:0px;
	margin-top:35px;
}
#custom_post_widget-3 p img,
#custom_post_widget-20 p img,
#custom_post_widget-21 p img {
	margin-right:5px;
}
.dropdown-menu {
	opacity:0.88;
	background:#13366d;
	padding:17px 39px;
	margin:0px;
	border:0px;
	top:109%;

}
#menu-item-1167186 .dropdown-menu,
#menu-item-1180624 .dropdown-menu,
#menu-item-1180598 .dropdown-menu {
	right:0;
	left:inherit;
}
.dropdown-menu>li>a {
	color:#ffffff;
	font-weight: normal !important;
	font-size:160%;
	/* font-family:MyriadPro-Regular, Arial; */
	padding:0px;
	margin:0px;
	line-height:30px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover,.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	background:none;
	color:#00adef;
}
.dropdown:hover .dropdown-menu {
   display: block;
}
.search-form-wrapper {
	float:right;
	margin-left:21px;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.search-form-wrapper {
		margin-left:0px;
	}
}
.search-form-btn {
	cursor:pointer;
}
.slider-wrapper {
	width:100%;
	overflow:hidden;
	margin-bottom: 54px;
}
.slider-wrapper-widther {
	overflow:hidden;
}
.slider-item {
	float:left;
	position:relative;
}
.slider-item img {
	width:100%;
}
.slider-lists {
	width:100%;
	background:#f0f0f0;
}
.slider-item-desc .container {padding:0px 0px;}
.slider-list {
	/* width:20%; */
	float:left;
	/* font-family:MyriadPro-Regular, Arial; */
	font-size:160%;
	color:#4a4a4a;
	text-align:left;
	padding:0px 40px;
	height:77px;
	background:#f0f0f0;
	line-height:16px;
	cursor:pointer;
	border-left: 1px solid #fff;
	position:relative;
}
.slider-list:first-child {border-left: 0px;}
.slider-list table {
	height:77px;
}
.slider-list:hover, .slider-list.active {
	color:white;
}
.slider-list.Green:hover, .slider-list.active.Green {
	background:#4f9d97;
}
.slider-list.Blue:hover, .slider-list.active.Blue {
	background:#618fa4;
}
.slider-list.Orange:hover, .slider-list.active.Orange {
	background:#be5423;
}
.slider-list.Purple:hover, .slider-list.active.Purple {
background:#a26cab;
}
.slider-list.DarkPurple:hover, .slider-list.active.DarkPurple {
background:#3f3262;
}
.tagfilter-title1 {
	font-family:MyriadPro-Bold, MyriadPro-Regular, 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', 微軟正黑體, sans-serif;
	font-size:280%;
	color:#0b234a;
	text-align:left;
	float:left;
	width:12%;
	margin-top:26px;
}
.tagfilter-lists {
	float:left;
	overflow:hidden;
	width:88%;
	height:60px;
	position:relative;
}
.tagfilter-wrapper {
	margin-bottom: 45px;
	overflow:hidden;
}
.tagfilter-item {
	float:left;
	width:20%;
	margin-top:28px;
	/* font-family:MyriadPro-Regular, Arial; */
	font-size:160%;
	cursor:pointer;
	border-left: 1px solid #fff;
}
.tagfilter-item table {
	height:32px;
	width:100%;
	text-align:center;
}
.tagfilter-item:hover, .tagfilter-item.active {
	margin-top:0px;
}
.tagfilter-item.c1:hover, .tagfilter-item.c1.active {
	border-bottom: 10px solid #acd3fc;
}
.tagfilter-item.c2:hover, .tagfilter-item.c2.active {
	border-bottom: 10px solid #FFE4B3;
}
.tagfilter-item.c3:hover, .tagfilter-item.c3.active {
	border-bottom: 10px solid #FFC5CB;
}
.tagfilter-item.c4:hover, .tagfilter-item.c4.active {
	border-bottom: 10px solid #F1B8FF;
}
.tagfilter-item.c5:hover, .tagfilter-item.c5.active {
	border-bottom: 10px solid #cae6bf;
}
.tagfilter-item:hover table, .tagfilter-item.active table {
	height:50px;

}
.tagfilter-item.c1 {
	background:#79c1ff;
	color:white;
}
.tagfilter-item.c2 {
	background:#ffd286;
	color:#8b572a;
}
.tagfilter-item.c3 {
	background:#faa1a8;
	color:#ac1a25;
}
.tagfilter-item.c4 {
	background:#d994fa;
	color:white;
}
.tagfilter-item.c5 {
	background:#84b999;
	color:white;
}

.slider-desc-container {position:absolute;top:0px;/* width:525px; */ width:465px;opacity:0.81;padding:40px 50px;}
.slider-desc-title {
font-family:MyriadPro-Bold, MyriadPro-Regular, 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', 微軟正黑體, sans-serif;
font-size:280%;
color:#fcf9f5;
text-align:left;
z-index:2;
position:relative;
}
.slider-desc-desc {
	/* font-family:MyriadPro-Regular, Arial; */
font-size:160%;
color:#fcf9f5;
line-height:24px;
text-align:left;
margin:15px 0px 20px 0px;
z-index:2;
position:relative;
}
.slider-desc-more {
/* font-family:MyriadPro-Regular, Arial; */
font-size:160%;
line-height:16px;
color:#ffffff;
text-align:left;
border:1px solid #ffffff;
border-radius:8px;
padding:10px 45px;
display:inline-block;
z-index:2;
position:relative;
}
.slider-desc-container.Green {
	background:#4f9d97;
}
.slider-desc-container.Blue {
	background:#618fa4;
}
.slider-desc-container.Orange {
	background:#be5423;
}
.slider-desc-container.Purple {
background:#a26cab;
}
.slider-desc-container.DarkPurple {
background:#3f3262;
}
.slider-desc-container.left {
	left:0px;
}
.slider-desc-container.right {
	right:0px;
}
.slider-item-desc {
	position:absolute;top:0px;left:0px;width:100%;
}
.slider-item-desc .container {
	position:relative;
}
.page-banner {
	width:100%;
}
.page-banner img {
	width:100%;
}
.entry-title,.entry-title2 {
	font-family:MyriadPro-Bold, MyriadPro-Regular, 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', 微軟正黑體, sans-serif;
font-size:280%;
color:#13366d;
margin-top:50px;
}
.entry-title2 {
	border-bottom: 1px solid #618fa4;
    padding-bottom: 30px;
}
.widget_breadcrumb_navxt {
	list-style:none;
	margin-bottom:25px;
}
.breadcrumbs {
	font-size:140%;
	color:#b5b5b5;
}
.breadcrumbs span{
	color:#b5b5b5;
}
.entry-content-bottom {
	margin-bottom:30px;
}
.careers-item {
	margin-bottom: 20px;
	border-top:5px solid #ac1a25;
	background-color:#EEE;
	padding:15px;
	display: block;
	color: inherit;
	text-decoration: none !important;
}
.careers-item-title {
	/* font-family:MyriadPro-Regular, Arial; */
font-size:220%;
color:#0b234a;
text-align:left;
margin-bottom:6px;}
.careers-item-date, .careers-item-closedate {
/* font-family:MyriadPro-Regular, Arial; */
font-size:140%;
line-height:19px;
text-align:justify;
}
.careers-result {font-size:180%;margin-bottom:5px;}

/***** common *****/
/* * {font-family:MyriadPro-Regular, Arial;} */

/***** @Lok *****/
@media (min-width: 1px) and (max-width: 767px){
    .col-xs-0 {display: none !important;}
    .col-xs-table {display: table;float: none !important;}
    .col-xs-cell {display: table-cell;float: none;}
}
@media (min-width: 768px) and (max-width: 991px){
    .col-sm-0 {display: none !important;}
    .col-sm-table {display: table;float: none !important;}
    .col-sm-cell {display: table-cell;float: none;}
}
@media (min-width: 992px) and (max-width: 1199px){
    .col-md-0 {display: none !important;}
    .col-lg-table {display: table;float: none !important;}
    .col-lg-cell {display: table-cell;float: none;}
}
@media (min-width: 1200px) {
    .col-lg-0 {display: none !important;}
    .col-lg-table {display: table;float: none !important;}
    .col-lg-cell {display: table-cell;float: none;}
}

.site-content {max-width: 1920px; margin: 0 auto;}

/***** header *****/
/* .nav>li>a, #polylang-3 li a, #custom_post_widget-4 a {font-family: inherit;} */

/***** *****/
img {max-width: 100%;height: inherit;}

.entry-nav {}
.entry-nav a[rel=prev],.entry-nav a[rel=next] {color: rgb(76,76,76);font-size: 210%; text-decoration: none;background-repeat: no-repeat;background-size: 14px 22px;line-height: 26px;display: block;font-weight: lighter;}
.entry-nav a[rel=prev] {background-image: url(../images/article-arrow-left.png);padding-left: 30px;background-position: left center;}
.entry-nav a[rel=next] {background-image: url(../images/article-arrow-right.png);padding-right: 30px;background-position: right center;}
.entry-nav a[rel=prev]:hover {background-image: url(../images/article-arrow-left-hover.png);color: rgb(0,172,238);}
.entry-nav a[rel=next]:hover {background-image: url(../images/article-arrow-right-hover.png);color: rgb(0,172,238);}
.entry-info {font-size: 180%;margin-top: 45px;line-height: 35px;margin-bottom: 10px;}
.entry-print {background: url(../images/ico-print.png) no-repeat right center;background-size: 20px 26px;padding-right: 30px;cursor: pointer;}
.entry-print:hover {background: url(../images/ico-print-hover.png) no-repeat right center;color: rgb(19,54,109);}
.entry-share span {float: left;}

/***** Share This *****/
.st_facebook_large, .st_googleplus_large, .st_twitter_large, .st_linkedin_large {display: inline-block;overflow: hidden;}
.st_facebook_large span, .st_googleplus_large span, .st_twitter_large span, .st_linkedin_large span {margin: 0px;}
.stButton .stLarge {width: 32px !important;height: 32px !important;background-size: 24px 24px;background-repeat: no-repeat;background-position: center center !important;margin-left: 14px;}
.st_facebook_large .stLarge {background-image: url(../images/ico-fb.png) !important;}
.st_googleplus_large .stLarge {background-image: url(../images/ico-gplus.png) !important;}
.st_twitter_large .stLarge {background-image: url(../images/icon-tw.png) !important;}
.st_linkedin_large .stLarge {background-image: url(../images/icon-in.png) !important;}

@media print {
	/*header, footer {display: none;}*/
	/*.page-container * {display: none;}
	.page-container .printable, .page-container .printable * {display: block !important;}
	.page-container .non-printable, .page-container .non-printable * {display: none !important;}*/
}

/***** content-technologies.php *****/
.our_rnd_focus_title {font-family:MyriadPro-Bold, MyriadPro-Regular, 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', 微軟正黑體, sans-serif;color:#13366d;font-size:280%;line-height:49px;text-align:left;border-bottom:1px solid #00adef;padding-bottom: 20px;}
.our_rnd_focus {margin: 0 ;float: left;overflow: hidden;}
.our_rnd_focus_box {padding: 0px 8px;border-top: 15px solid #fff;}
.our_rnd_focus_box_title {color: rgb(22,58,108); width:100%;display: table;position: relative;height: 85px;}
.our_rnd_focus_box_title span {font-family: MyriadPro-Bold, MyriadPro-Regular, 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', 微軟正黑體, sans-serif;font-size: 220%;/*color: #fcf9f5;*/line-height: 25px;text-align: left;display: table-cell;vertical-align: middle;padding: 0px 23px;text-align: center;}
.our_rnd_focus_box_title:after {content: '';display: block; width: 140px;height: 2px;background-color: rgb(6,169,234);    position: absolute;bottom: 0;left: 50%;margin-left: -70px;border-radius: 15px;}
.our_rnd_focus_points {/*background:#cdf1ff;*/width: 100%;min-height:195px;padding: 19px 20px;position: relative;overflow: hidden;padding: 23px 20px 19px 20px;}
/*.our_rnd_focus_points:before {content: '';display: block;width: 100%;left: 0;bottom: -200%;position: absolute;top: 0;background:#cdf1ff;}*/
.our_rnd_focus_point * {margin: 0 !important; padding: 0;}
.our_rnd_focus_point {/* font-family:MyriadPro-Regular, Arial; *//* font-size:160%; */color:#4a4a4a;line-height:30px;text-align:left;position: relative;line-height: 22px;margin-bottom: 16px;text-align: center;}
.our_rnd_focus_point p{text-align:center}
/*.our_rnd_focus_point:before {content: '';display: block; background:#4a4a4a;width:5px;height:5px;border-radius:100%;position: absolute;top: 6.5px;left: -18px;}*/
.technologies_project_title {font-family:MyriadPro-Bold, MyriadPro-Regular, 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', 微軟正黑體, sans-serif;color:#13366d;font-size:280%;line-height:35px;text-align:left;border-bottom:1px solid #618fa4;padding-bottom: 30px;margin-top: 69px;}

/***** content-events.php *****/
.upcoming_event_table {font-size:160%;color:#4a4a4a;line-height:25px;text-align:left;margin:38px 0px 20px 0px;}
.upcoming_event_table td {padding-bottom: 18px;vertical-align: top;}
.upcoming_event_table td:first-child {/* font-size:180%; */color:#13366d;padding-right: 10px;}
.upcoming_event_table tr:last-child td:first-child {vertical-align: middle;}
.upcoming_event_download {background:#ffffff;border:1px solid #00adef;border-radius:4px;font-size:160%;color:#4a4a4a;letter-spacing:-0.45px;padding: 13px 57px;line-height: 16px;display: inline-block;}
.upcoming_event_download:hover {background-color: #00adef;text-decoration: none;color: #ffffff;}
.upcoming_event_register {background:#13366d;border-radius:4px;font-size:160%;color:#ffffff;letter-spacing:-0.45px;padding: 13px 45px;display: inline-block;line-height: 16px;border: 1px solid #13366d;}
.upcoming_event_register:hover {color: #13366d; text-decoration: none;background-color: #ffffff;}
.upcoming_event_full {background:#9b9b9b;border-radius:4px;font-size:160%;color:#ffffff;letter-spacing:-0.45px;line-height: 16px;display: inline-block;padding: 13px 41px;border: 1px solid #9b9b9b;cursor: default;}

/***** contact from *****/
.wpcf7-form .row {/* margin: 0px -7.5px; */margin: 0px 0px;}
.wpcf7-row-title {/* font-family:MyriadPro-Regular, Arial,ArialMT; */font-size:160%;color:#4a4a4a;line-height:40px;text-align:left;margin-bottom: 18px;}
.wpcf7-form-control-wrap {display: block;float: left;width: 100%;padding: 0px 7.5px; margin-bottom: 28px;}
input.wpcf7-form-control, select.wpcf7-form-control, textarea.wpcf7-form-control, .dataTables_filter input  {background:#ffffff;border:1px solid #979797;box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);border-radius:3px;width:100%;height:48px;font-size:140%;color:#4a4a4a;padding: 0px 11px;line-height: 16px;}
textarea.wpcf7-form-control {resize: vertical;min-height: 261px;padding: 16px 22px;}
.wpcf7-list-item {margin: 0 !important;}
.wpcf7-list-item label {margin-right: 30px;font-weight: normal;cursor: pointer;/* white-space: nowrap; */}
.wpcf7-checkbox, .wpcf7-radio {width: 100%;}
.wpcf7-list-item .wpcf7-list-item-label {position: relative;padding-left: 25px;font-size: 140%;}
.wpcf7-list-item input[type=radio]+.wpcf7-list-item-label:before {content: '';display: inline-block;background:#ffffff;border:1px solid #979797;box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);width:16px;height:16px;border-radius:100%;position: absolute;left: 0;top: 0;}
.wpcf7-list-item input[type=radio]:checked+.wpcf7-list-item-label:after {content: '';width: 8px;height: 8px;background-color: #00adef; border-radius: 100%;display: inline-block;position: absolute;left: 4px;top: 4px;}
.wpcf7-list-item input[type=radio], .wpcf7-list-item input[type=checkbox] {position: absolute;width: 1px;height: 1px;z-index: -9999;opacity: 0;visibility: hidden;}
.wpcf7-list-item input[type=checkbox]+.wpcf7-list-item-label:before {content: '';display: inline-block; background:#ffffff;border:1px solid #979797;box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);border-radius:2px;width:16px;height:16px;position: absolute;top: 0;left: 0;}
/*.wpcf7-list-item input[type=checkbox]:checked+.wpcf7-list-item-label:after {content: 'L';display: inline-block;color:#00adef;position: absolute;left: 5px;font-size: 16px;top: -3px;line-height: 16px;transform: rotate(45deg) rotateY(180deg) scaleY(1.3);font-weight: bold;}*/
.wpcf7-list-item input[type=checkbox]:checked+.wpcf7-list-item-label:after{content: '';display: inline-block;background-image: url(../images/form-click.png);    width: 16px;height: 16px;position: absolute;left: 2px;top: -2px;}
.wpcf7-remark {/* font-family:MyriadPro-Regular, Arial,ArialMT; */font-size:14px;color:#4a4a4a;line-height:22px;text-align:justify;margin-bottom: 35px;}

input[type=submit].wpcf7-form-control {background:#ffffff;border:1px solid #00adef;border-radius:6px;width:143px;height:48px;box-shadow: none;font-size:140%;color:#4a4a4a;letter-spacing:0px;text-shadow:0px 1px 0px #ffffff;text-align:center;}
input[type=submit].wpcf7-form-control:hover {background-color: #00adef; color: #fff;}

/***** search - header.php *****/
.search-form {position: absolute;right: 0;top: 0;width: 0px; height: 100%;display: block;overflow: hidden;background-color: #fff;z-index: 3;    transition: all 250ms ease-in-out;opacity: 0;}
.search-form.active {width: 100%;opacity: 1;}
.search-form #form-search-input {height: 50px;width: 100%;border-radius: 4px;z-index: 1 !important;background-image: url(../images/menu-search.png);background-repeat: no-repeat;background-position: 28px center;background-size: 22px 22px;padding-left: 70px;}
.search-form .input-group {position: absolute;right: 0;width: 100%;left: 0;top: 50%;margin-top: -25px;}
.search-form button[type=submit] {position: absolute;right: 1px;z-index: 2;background-image: url(../images/article-arrow-right-hover.png);background-repeat: no-repeat;border: none;display: block;text-shadow: none;box-shadow: none;width: 14px;height: 22px;margin-top: -11px;top: 50%;background-size: auto 14px; background-position: center center;background-color: transparent;margin-right: 25px;}

/***** search.php *****/
.search-result {}
.search-result .page-header {background:rgba(19,54,109,0.95); padding: 0px;margin: 0;}
.search-result .page-header .container {padding: 0px 44px;}
.search-result .page-header .input-group {display: table-cell;vertical-align: middle;}
.search-result .page-header form {display: table;height: 151px;width: 100%;}
.search-result .page-header #form-search-input {height: 50px;border-radius: 4px;border: 1px solid #00adef;background-image: url(../images/menu-search.png);background-repeat: no-repeat;background-position: 32px center;background-size: 22px 22px;padding-left: 76px;}
.search-result-count {/* font-family:MyriadPro-Regular, Arial; */font-size:200%;color:#13366d;text-align:left;margin-top: 52px;margin-bottom: 37px;}

/***** mobile menu - header.php *****/
.mobile-nav-btn {border: 0;background-color: transparent;outline: none;}
.mobile-nav-btn span {background:#13366d;border-radius:4px;width:32px;height:4px;display: block;margin-bottom: 5px;transition: all 250ms ease-in-out;}
.mobile-nav-btn span:last-child {margin-bottom: 0px;}
.mobile-nav-btn.active span:nth-child(1) {
	-webkit-transform: rotate(45deg) translate3d(8px,8px,0);
	-moz-transform: rotate(45deg) translate3d(8px,8px,0);
	-os-transform: rotate(45deg) translate3d(8px,8px,0);
	transform: rotate(45deg) translate3d(8px,8px,0);
}
.mobile-nav-btn.active span:nth-child(2) {opacity: 0;}
.mobile-nav-btn.active span:nth-child(3) {
	-webkit-transform: rotate(-45deg) translate3d(5px,-5px,0);
	-moz-transform: rotate(-45deg) translate3d(5px,-5px,0);
	-os-transform: rotate(-45deg) translate3d(5px,-5px,0);
	transform: rotate(-45deg) translate3d(5px,-5px,0);
}
.menu-back {display: none;cursor: pointer;}
@media (min-width: 1px) and (max-width: 991px) {
    .navbar-primary-collapse {display: block;}
    .site-branding {position: relative;}
    .page-header-top-right {width: 100%;position: absolute;top: 0;left: 0;height: 100%;}
    /* .mobile-nav-btn~#menu-header {height: 0px;opacity: 0;}
    .mobile-nav-btn.active~#menu-header {height: auto;opacity: 1;z-index: 3;}
    #menu-header {position: absolute;width: 100%;left: 0;top: 39px;z-index: 1;overflow: hidden;border-top:2px solid #00adef;background:#13366d;transition: all 250ms ease-in-out;margin: 0px;padding: 0px;}
    #menu-header a, .menu-back>span {height: 81px;width: 100%;line-height: 81px;text-align: left;color: #fff !important;padding-left: 44px;font-size: 180%;font-weight: normal;}
    #menu-header ul {transition: all 250ms ease-in-out;}
    #menu-header li {width: 100%;float: left;width: 100%;margin: 0 !important;padding: 0 !important;border-bottom:1px solid #305082 !important;position: static;font-size: 180%;font-weight: normal;transition: all 250ms ease-in-out;overflow: hidden;}
    #menu-header li.mb_hide {height: 0px; opacity: 0;position: absolute;} */
	.mobile-nav-btn~.nav.navbar-nav {height: 0px;opacity: 0;}
    .mobile-nav-btn.active~.nav.navbar-nav {height: auto;opacity: 1;z-index: 3;}
    .nav.navbar-nav {position: absolute;width: 100%;left: 0;top: 39px;z-index: 1;overflow: hidden;border-top:2px solid #00adef;background:#13366d;transition: all 250ms ease-in-out;margin: 0px;padding: 0px;}
    .nav.navbar-nav a, .menu-back>span {height: 81px;width: 100%;line-height: 81px;text-align: left;color: #fff !important;padding-left: 44px;font-size: 180%;font-weight: normal;    display: table;}
    .nav.navbar-nav a span {    display: table-cell;    float: none;    vertical-align: middle;    line-height: 1.5;}
    .nav.navbar-nav ul {transition: all 250ms ease-in-out;}
    .nav.navbar-nav li {width: 100%;float: left;width: 100%;margin: 0 !important;padding: 0 !important;border-bottom:1px solid #305082 !important;position: static;/* font-size: 180%; */font-weight: normal;transition: all 250ms ease-in-out;overflow: hidden;}
    .nav.navbar-nav li.mb_hide {height: 0px; opacity: 0;position: absolute;}
	/* */
    .menu-next {background-image: url(../images/mb-menu-right-arrow.png);background-repeat: no-repeat;background-size: 16px 13px;width: 88px;height: 80px;display: block;float: right;background-position: center center;}
    .menu-back {height: 81px;line-height: 81px;width: 100%;text-align: left;color: #fff;display: block;background-image: url(../images/mb-menu-left-arrow.png);background-size: 16px 13px;background-repeat: no-repeat;background-position: left 44px center;background-color:#2b518f;}
    .menu-back span {padding-left: 82px;}
    .menu-item.mb_active>a {display: none;}
    .menu-item .sub-menu {padding: 0px;display: block;overflow: hidden;opacity: 0;position: absolute;}
    .menu-item.mb_active>.sub-menu {position: relative;opacity: 1;}
}
@media (min-width: 1px) and (max-width: 767px) {
    /* #menu-header {top: 66px;} */
	.nav.navbar-nav {top: 66px;}
}
/***** mobile lang - header.php *****/
.mb_lang_selected {/* font-family:MyriadPro-Regular, Arial; */font-size:220%;color:#13366d;text-align:justify;float: right;cursor: pointer;}
.mb_lang_selected.active {color:#00adef;}
.mb_langs {display: none;background:#13366d;position: absolute;z-index: 1;width: 100%;top: 73px;}
.mb_langs ul {padding: 0px;}
.mb_langs li {height:80px;border-bottom: 1px solid #305082;/* font-family:MyriadPro-Regular, Arial; */font-size:180%;color:#FFFFFF;line-height:80px;text-align:left;list-style: none;padding-left: 45px;}
.mb_langs li a {color: #ffffff;text-decoration: none;}
.mb_langs li.active {background:#2b518f;}
@media (min-width: 1px) and (max-width: 767px) {
    .mb_lang_selected.active~.mb_langs {display: block;}

    /* .mb_lang_selected.active~#menu-header {display: none;} */
	.mb_lang_selected.active~.nav.navbar-nav {display: none;}

    .mb_lang_selected.active~.mobile-nav-btn.active span:nth-child(1) {
		-webkit-transform: rotate(45deg) translate3d(8px,8px,0);
		-moz-transform: rotate(45deg) translate3d(8px,8px,0);
		-os-transform: rotate(45deg) translate3d(8px,8px,0);
		transform: rotate(45deg) translate3d(8px,8px,0);
	}
    .mb_lang_selected.active~.mobile-nav-btn.active span:nth-child(2) {opacity: 0;}
    .mb_lang_selected.active~.mobile-nav-btn.active span:nth-child(3) {
		-webkit-transform: rotate(-45deg) translate3d(5px,-5px,0);
		-moz-transform: rotate(-45deg) translate3d(5px,-5px,0);
		-os-transform: rotate(-45deg) translate3d(5px,-5px,0);
		transform: rotate(-45deg) translate3d(5px,-5px,0);
	}
}

/***** social network - header.php *****/
#custom_post_widget-6 {}
#custom_post_widget-6 a {width: 24px;height: 24px;display: inline-block;margin: 0 9px;padding: 0px;}

/***** footer.php *****/
.footer-terms li {list-style: none;}
.footer-terms .widget_nav_menu ul {padding: 0;float: left;}
.footer-terms .widget_nav_menu li {list-style: none;float: left;padding: 0px 10px;border-right: 1px solid #00adef;}
.footer-terms .widget_nav_menu a {/* font-family: MyriadPro-Regular, Arial; */font-size: 120%;color: #00adef;text-align: left;}
.footer-terms .widget_nav_menu li:last-child {border-right: none;padding-right: 0px;}
.footer-terms .widget_nav_menu li:first-child {padding-left: 0px !important;}
.mb-footer-terms {float: left;margin-bottom: 16px;line-height: 18px;/* font-size: 180%; */}
.mb-footer-terms .widget_nav_menu {float: left !important;}
.mb-footer-terms .widget_nav_menu li:first-child {padding-left: 0px !important;}
.footer-links>div {float: right;}
.footer-links .widget_nav_menu ul {list-style: none;padding: 0px !important;border-right: none !important;}
.footer-links .widget_nav_menu li a {/* font-family:MyriadPro-Regular, Arial; */font-size:140%;color:#13366d;text-align:left;}
.footer-links .widget_nav_menu li {line-height: 35px;border-right: 1px solid #13366d;padding: 0px 20px;text-align: left;}
.footer-links .widget_nav_menu li:first-child, .footer-links .widget_nav_menu li:last-child {line-height:22px;}
.footer-links .widget_nav_menu:last-child li {padding-left: 0px !important;}
.footer-links .widget_nav_menu:first-child li {padding-right: 0px !important;}
.footer-links .widget_nav_menu:first-child li {border-right: 0px;}
.mb-footer-links {float: left;margin-bottom: 23px;width: 100%;padding: 0px !important;}
.mb-footer-links table {width: 100%;font-size:180%;text-align:left;}
.mb-footer-links table td {height: 76px;text-align: center;border:1px solid #d6d6d6; padding:0px 5px;}
.mb-footer-links table a {color:#13366d;}
.footer-left li {list-style: none;}
/*.mb-footer-links a {font-family:MyriadPro-Regular, Arial;font-size:18px;color:#13366d;line-height:28px;text-align:left;padding: 0px 10px;border-right: 1px solid #13366d;}
.mb-footer-links a:first-child {padding-left: 0px;}
.mb-footer-links a:last-child {border-right: none;}*/
@media (min-width: 1px) and (max-width: 767px) {
    #site-footer>div {padding-left: 40px; padding-right: 40px;}
}
@media (min-width: 1px) and (max-width: 991px) {
    #site-footer {padding-top: 0px;}
    /* .mb-footer-terms .widget_nav_menu a, #custom_post_widget-10 { font-size: 180%; line-height: 18px;} */
}

/***** footer social network - footer.php *****/
#custom_post_widget-12 {display: none;margin-bottom: 35px;margin-top: 21px;}
#custom_post_widget-12 p {margin: 0px -6%;}
#custom_post_widget-12 a {display: inline-block;width: 20%;text-align: center;}
#custom_post_widget-12 a img {width: 50px;height: 50px;}
@media (min-width: 1px) and (max-width: 767px) {
    #custom_post_widget-12 {display: inline-block;width: 100%;}
}


/***** content-page-home.php *****/
/*.slider-item {float: left;position: relative;padding: 20px 0px;overflow: hidden;}
.slider-item img {width: 100%;position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
.slider-item-desc {position: relative;}
.slider-desc-container {position: relative;}*/

@media (min-width: 992px) and (max-width: 1199px) {
    .slider-item img {width: 0px;height: 0px;padding: 0px 50vw 330px 50vw;background-size: cover;background-position: center center;}
}
@media (min-width: 1px) and (max-width: 991px) {
    /* .slider-item img {width: 0px;height: 0px;padding: 0px 50vw 330px 50vw;background-size: cover;background-position: center center;} */
	.slider-item img {width: 100%;height: 0px;padding: 160px 0px; background-size: cover;background-position: center center;}

    .slider-item-desc {position: relative;display: block;}
    .slider-item-desc .container {width: 100%;}
    .slider-desc-container {position: relative;top: 0px !important;width: 100%;}
    .slider-lists {display: none;}

    .tagfilter-title1 {width: 100%;text-align: center;margin-bottom: 32px;}
    .tagfilter-lists {width: 100%;height: 129px;}
    .tagfilter-item {height: 112px;margin-top: 15px;/* font-family:MyriadPro-Regular, Arial; */font-size:220%;text-align:center;padding: 0px 2%;}
    .tagfilter-item table {height: 100%;}
    .tagfilter-item:hover, .tagfilter-item.active {border-bottom-width: 15px !important;height: 127px;}
    .tagfilter-item:hover table, .tagfilter-item.active table {height: 100%;}
}
@media (min-width: 1px) and (max-width: 767px) {
	.tagfilter-item {height: 72px;width:30%; margin-top: 0px; margin-top:15px; float:none; display:inline-block;}
	.tagfilter-item:hover, .tagfilter-item.active {height: 87px; margin-top:0px;}
	.tagfilter-lists {height:189px; margin-top: 15px; text-align:center;}
}
@media (min-width: 992px) {
    .tagfilter-title1 {width: 13%;}
    .tagfilter-lists {width: 87%;}
}

/***** content-page-event-registration *****/
input[name="event_name"], input[name="event_id"] {position: absolute;width: 1px;height: 1px;visibility: hidden;opacity: 0;}

/***** full-width-banner - shortcode *****/
.full-width-banner {margin-top: -20px;max-height: 450px;width: 100%;overflow: hidden;position: relative;text-align: center;}
.full-width-banner img {top: 0;left: 0;right: 0;bottom: 0;margin: 0 auto;max-width: 100%;max-height: 100%;}
/***** info-card shortcode *****/
.info-card {text-align:center !important;}
.info-card p {text-align: center !important;}

/*****  *****/
.post-1100118 .row .col-md-4, .post-1100119 .row .col-md-4, .post-1100120 .row .col-md-4, .post-1100103 .row .col-md-4 {padding-right: 20px;}

/***** page-banner *****/
.page-banner {width: 100%;height: 320px;overflow: hidden;position: relative;margin-bottom: 10px;}
.page-banner img {position: absolute; width: 100%; height: 0px; padding: 160px 0px; background-size: cover;background-position: center center; background-repeat: no-repeat;}
.page-banner.full {width: 100%;height: inherit;}
.page-banner.full img {position: relative;height: inherit;padding: 0px;}

@media (min-width: 768px) {
  .page-banner.full2 {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .page-banner.full2 {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .page-banner.full2 {
    width: 1170px;
  }
}
.page-banner.full2 {height: inherit;margin:0px auto}
.page-banner.full2 img {position: relative;height: inherit;padding: 0px;}

/***** content-page-event-registration.php *****/
.event-registration {padding-bottom: 100px;}

/***** content-work-as-astri-2.php *****/
.career_search_form {padding-top: 20px; padding-bottom: 20px;}
/***** content-careers.php *****/
.careers-description .panel-body {padding-bottom: 80px;}
.careers-description p {margin-bottom: 1.5em;}

/***** content-rdproject.php *****/
.rdprojects-lists {}
.rdprojects-lists .rdprojects-lists-header {background-color: #f9f9f9;border-top: 0px !important;}
.rdprojects-lists .rdprojects-lists-header:hover {background-color: #f3f3f3;}
.rdprojects-lists>div {border-top: 1px solid #ddd;}
.rdprojects-lists>div>div {padding: 8px;}
.rdprojects-lists>div:hover {background-color: #f9f9f9;}
.rdprojects-paging {display: table;margin: 0px auto;padding-top: 50px;}

/***** [table] *****/
/*.tablepress, .mce-item-table {width: 100%;}
.tablepress th, .tablepress td, .mce-item-table th, .mce-item-table td {padding: 8px;border-top: 1px solid #ddd;line-height: 22.5px;}
.tablepress th, .mce-item-table th {background-color: #f9f9f9;border-top: 0px !important;background-color: #d9edf7;}
.tablepress tr:hover td, .mce-item-table .row-hover tr:hover td {background-color: #f3f3f3;}
.tablepress .odd td, .mce-item-table .odd td {background-color: #f9f9f9;}
*/
/***** table-press plugin *****/
.dataTables_filter {}

.thumbnail {border: none;box-shadow:none;}

/***** general-box.php *****/
.std-box-margin.news .std-box-header {background-color: #7ed321;}
.std-box-margin.events .std-box-header {background-color: #a26cab;}
.std-box-margin.technologies .std-box-header {background-color: #50e3c2;}
.std-box-img {overflow: hidden;position: relative;}
/* .std-box-img img {width: 100%;position: absolute;left: 0;top: 0;height: auto;} */
.post-1100022 .std-box-header , .post-1167539 .std-box-header , .page-id-1167536 .std-box-header, .std-box-margin.careers .std-box-header {background-color: #ac1a25;}
.std-box-more {width: 49px;text-align: center;/* font-family: Arial; */line-height: 7.5px;}
.std-box-more span {width: 4px;height: 4px;border-radius: 100%;background-color: #0b234a;display: inline-block;margin: 0px 2px;}
.std-box-margin {margin: 0px 7px;}

.search_pagination {display: table;margin: 20px auto;}




/* Yin */
/* Technologies page > small box remove show date */
.type-technologies .shuffle-wrapper .std-box-date {display:none;}

/* breadcrumbs > font text size */
/* .breadcrumbs, .breadcrumbs a, .breadcrumbs span {font-size:160%;} */

/* Technologies page > "Our R&D Focus & Project Highlights" > show全大階 */
.type-technologies .our_rnd_focus_title {}
.type-technologies .technologies_project_title {}

/* Technologies page > add space between "Project Highlights" under line and box between */
.technologies_project_title {margin-bottom: 30px;}

/* Technologies page > add space between "Our R&D Focus" and top text */
.type-technologies .our_rnd_focus_title {margin-top:49px;}

/* Technologies page > reduce space between breadcrumbs and below text */
.type-technologies .widget_breadcrumb_navxt {margin-bottom:30px;}

/* Upcoming Events detail > fields text font and bold */
.type-events .upcoming_event_table td:first-child {font-weight:bold;}

/* Upcoming Events detail page > add space between Related Events and small box */
.type-events .upcoming_event_related  .entry-title {margin-bottom:17px;}

/* header > reduce space between social network icon */
#custom_post_widget-3 a,
#custom_post_widget-20 a,
#custom_post_widget-21 a {padding:0px 7px;}

/* ipad and mobile version > in small box "..." icon > show center */
@media (min-width: 1px) and (max-width: 991px){
	.std-box-more {float:none; margin:0px auto 10px;}
}

/* ipad 直 > Technologies > Intelligent Manufacturing > under Our R&D Focus detail > Intelligent Energy /Power Electronics > should not show in 3 row */
.type-technologies .our_rnd_focus_box {padding:0px;}
.type-technologies .our_rnd_focus_box_title {padding:0px 8px;}

/* ipad 直 > Joint Research Laboratories and R&D Centres page > image can show center? */
@media (min-width: 1px) and (max-width: 991px){
	.post-1100118 .col-md-4, .post-1100119 .col-md-4, .post-1100120 .col-md-4, .post-1100103 .col-md-4 {padding:0px; text-align: center;}
}

/* Others */
.search-result .search-result-count {margin-left:7px; margin-right:7px;}
/* */

.about-margin {margin-right:10px !important}
.img-text-margin {margin-left:10px}
.info-card {margin: 0px 5px;}
.info-card h4 span {
	font-family: MyriadPro-Bold, MyriadPro-Regular, 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', 微軟正黑體, sans-serif;
    font-size: 140%;
    color: rgb(22,58,108) !important;
    line-height: 25px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 23px;
    text-align: center;
}
.info-card p {font-size:medium !important;    /* background: #cdf1ff; */
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0px 20px;
	margin:0px;}
.info-card h4 {
	color: rgb(22,58,108);
    width: 100%;
    display: table;
    position: relative;
    height: 85px;
	margin:0px;
	margin-bottom:20px;
}
.info-card h4:after {
    content: '';
    display: block;
    width: 140px;
    height: 2px;
    background-color: rgb(6,169,234);
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
    border-radius: 15px;
}
.slider-desc-counter {
	width: 0%;
    height: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
	z-index:1;
	height:100%;
	display:none;
}
@media (min-width: 1px) and (max-width: 991px) {
	.slider-desc-counter {display:block;}
}
.slider-list-counter {
    width: 0%;
    height: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
	z-index:1;
}
.Green .slider-list-counter {background-color:#65dcd2;}
.Orange .slider-list-counter {background-color:#de8e6a;}
.Blue .slider-list-counter {background-color:#9ab6c3;}
.Purple .slider-list-counter {background-color:#cdb4d1;}
.DarkPurple .slider-list-counter {background-color:#837c98;}

.slider-list table {
	width:70%;
	height: inherit;
    position: absolute;
    top: 0px;
	left:15%;
	z-index:2;
}
.rdprojects-result {font-size:180%}
.rdprojects-lists {font-size:160%}
.pagination {font-size: 160%}

/* Yin */
/* http://astri.onederfo.com/about/achievements/us-patents/ */
.post-1100187 .entry-content em,
.post-1100188 .entry-content em,
.post-1100189 .entry-content em {font-size:100%;}
.post-1100187 .entry-content #tablepress-8_info,
.post-1100188 .entry-content #tablepress-8_info,
.post-1100189 .entry-content #tablepress-8_info {font-size:160%;}


/* http://astri.onederfo.com/about/achievements/technology-transfers/ */
.post-1100193 .entry-content table tr,
.post-1100194 .entry-content .su-table tr,
.post-1100195 .entry-content .su-table tr {font-size:160% !important;}

/* http://astri.onederfo.com/sc/about/corporate-info/facts-figures/ */
.post-1100432 .entry-content em {font-size:100%;}

/* http://astri.onederfo.com/sc/about/organization/board-of-directors/ */
.post-1100079 .entry-content em,
.post-1100080 .entry-content em,
.post-1100081 .entry-content em {font-size:100%;}

/* http://astri.onederfo.com/about/achievements/patents/ */
.post-1100097 .entry-content .su-table tr,
.post-1100098 .entry-content .su-table tr,
.post-1100099 .entry-content .su-table tr {font-size:160% !important;}

/* http://astri.onederfo.com/sc/about/organization/board-of-directors/the-audit-committee-2/ */
.post-1100439 .entry-content ol,
.post-1100440 .entry-content ol,
.post-1100441 .entry-content ol {margin: 0px 0px 15px 0px;}
.post-1100439 .entry-content ol li,
.post-1100440 .entry-content ol li,
.post-1100441 .entry-content ol li {font-size:160%;}
.post-1100439 .entry-content ol li ul li,
.post-1100440 .entry-content ol li ul li,
.post-1100441 .entry-content ol li ul li {font-size:100%;}

/* http://astri.onederfo.com/sc/about/organization/board-of-directors/the-technology-committee/ */
.post-1100313 .entry-content ol,
.post-1100314 .entry-content ol,
.post-1100315 .entry-content ol {margin: 0px 0px 15px 0px;}
.post-1100313 .entry-content ol li,
.post-1100314 .entry-content ol li,
.post-1100315 .entry-content ol li {font-size:160%;}

/* http://astri.onederfo.com/sc/about/organization/board-of-directors/finance-admin-committee/ */
.post-1100199 .entry-content ol,
.post-1100200 .entry-content ol,
.post-1100201 .entry-content ol {margin: 0px 0px 15px 0px;}
.post-1100199 .entry-content ol li,
.post-1100200 .entry-content ol li,
.post-1100201 .entry-content ol li {font-size:160%;}

/* http://astri.onederfo.com/about/about-licensing/ */
.post-1100448 .entry-content ul li,
.post-1100449 .entry-content ul li,
.post-1100450 .entry-content ul li {font-size:100%;}

/* http://astri.onederfo.com/tdprojects/system-in-package-sip/ */
.post-1110175 .entry-content .wp-image-5390,
.post-1110175 .entry-content .wp-image-5392,
.post-1110176 .entry-content .wp-image-5685,
.post-1110176 .entry-content .wp-image-5392,
.post-1110177 .entry-content .wp-image-5685,
.post-1110177 .entry-content .wp-image-5392 {display:block;}

/* http://astri.onederfo.com/about/corporate-info/publications/ */
.post-1100211 .entry-content .thumbnail p,
.post-1100212 .entry-content .thumbnail p,
.post-1100213 .entry-content .thumbnail p {text-align:center;}


/* http://astri.onederfo.com/careers-2/internship/ */
.post-1100400 .entry-content em,
.post-1167550 .entry-content em,
.post-1167552 .entry-content em {font-size:100%;}

/* mobile & ipod > menu > text size */
@media (max-width: 991px) and (min-width: 1px) {
	.nav.navbar-nav li a, .menu-back>span {font-size:180%; white-space:normal;}
}

/* mobile > search icon > with menu height same */
.search-form-btn img {width:24px;}
.mb_lang_selected {font-size:240%; line-height: 24px;}

/* mobile > homepage > reduce space between banner and You are... */
@media (max-width: 991px) and (min-width: 1px) {
	.slider-wrapper {margin-bottom:0px;}
}

/* mobile & ipod > links page > 右邊有空白地方 */
.post-1100241 .entry-content a,
.post-1100242 .entry-content a,
.post-1100243 .entry-content a {word-wrap: break-word;}

/* mobile & ipod > contact form page > 右邊有空白地方 */
@media (max-width: 767px) and (min-width: 1px) {
	.post-1100244 .wpcf7-form-control-wrap,
	.post-1100245 .wpcf7-form-control-wrap,
	.post-1100246 .wpcf7-form-control-wrap {padding:0px;}
	.post-1100244 .entry-content .wpcf7 p,
	.post-1100245 .entry-content .wpcf7 p,
	.post-1100246 .entry-content .wpcf7 p {font-size:100%;}
}

/* mobile > you are... filter tab text size */
@media (min-width: 1px) and (max-width: 480px) {
	.tagfilter-item {font-size:140%;}
}

/* mobile & ipod > small box > 3"..." show center */
.std-box-more span {margin:6px 2px;}

/* http://astri.onederfo.com/sc/about/corporate-info/facts-figures/ */
.post-1100430 .entry-content span {font-size:160% !important;}
.post-1100430 .entry-content em {font-size:100%;}
.post-1100430 .entry-content p {font-size:100%;}
.post-1100431 .entry-content .about-table td,
.post-1100431 .entry-content .about-table th,
.post-1100432 .entry-content .about-table td,
.post-1100432 .entry-content .about-table th {font-size:160%;}
.post-1100431 .entry-content .about-table p,
.post-1100432 .entry-content .about-table p {font-size:100%;}
.post-1100431 .entry-content .about-table h2,
.post-1100432 .entry-content .about-table h2 {font-size:100%; margin:0px;}
.post-1100431 .entry-content em,
.post-1100432 .entry-content em {font-size:100%;}
.post-1100430 .entry-content .about-table,
.post-1100431 .entry-content .about-table,
.post-1100432 .entry-content .about-table {margin-bottom:60px;}

/* mobile full page padding */
@media (max-width: 991px) and (min-width: 1px) {
	/* .container {padding:0px 10px;} */
}

/* mobile > footer > "@" and "corporate@astri.org" show same row */
#custom_post_widget-5 div,
#custom_post_widget-17 div,
#custom_post_widget-18 div {float:left; padding-right:10px;font-size: 140%;}

/* mobile & ipod > banner size */
@media (max-width: 767px) and (min-width: 1px) {
	.page-banner {height: initial;}
	.page-banner img {position:relative; height: initial; padding: 0px 0px;}

	.page-banner.top,
	.page-banner.center,
	.page-banner.bottom	{height:200px;}
	.page-banner.top img,
	.page-banner.center img,
	.page-banner.bottom img {position:absolute; height: 0px; padding:100px 0px;}
}
@media (max-width: 480px) and (min-width: 1px) {
	.page-banner.top,
	.page-banner.center,
	.page-banner.bottom	{height:130px;}
	.page-banner.top img,
	.page-banner.center img,
	.page-banner.bottom img {position:absolute; height: 0px; padding:65px 0px;}
}

/* mobile > privacy > 右邊空白 */
#post-1100208 .entry-content p,
#post-1100209 .entry-content p,
#post-1100210 .entry-content p {word-break: break-all;}

/* ipod > footer "Tender Notice" text */
@media (max-width: 480px) and (min-width: 1px) {
	.mb-footer-links table {font-size:160%;}
}

/* Others */
/* .post-1100064 .std-box-img,
.post-1100065 .std-box-img,
.post-1100066 .std-box-img {max-height:175px;} */

textarea.wpcf7-form-control {padding:16px 11px;}

.mb_langs {top:66px; border-top: 2px solid #00adef;}
@media (max-width: 480px) and (min-width: 1px) {
	header .container {height:122px;}
}

#site-footer #custom_post_widget-3,
#site-footer #custom_post_widget-20,
#site-footer #custom_post_widget-21 {display: inline-block; float: none; margin-bottom: 15px;}
#site-footer #polylang-3 {display:none;}
#site-footer #custom_post_widget-4 {display:none;}
#site-footer .mobile-soical {text-align:center;}

#post-1186851 .entry-content .wpcf7-remark p,
#post-1186849 .entry-content .wpcf7-remark p,
#post-1186847 .entry-content .wpcf7-remark p {font-size:100%;}

#post-1100244 .entry-content .wpcf7-remark p,
#post-1100246 .entry-content .wpcf7-remark p,
#post-1100245 .entry-content .wpcf7-remark p {font-size:100%;}

.type-career .entry-content .careers-description .panel-body div label,
.type-career .entry-content .careers-description .panel-body div span {font-size:160%;}
.type-career .entry-content ul li ul li {font-size:100%;}
.type-career .entry-content ol li {font-size:160%;}
.type-career .entry-content .careers-description .panel-body div p span {font-size:100%;}

#post-1100061 .entry-content .row p {margin-right:10px;}
#post-1100062 .entry-content .row p {margin-right:10px;}
#post-1100063 .entry-content .row p {margin-right:10px;}
/* */

.careers-description {font-size:140%;}
.type-career .careers-description {font-size:100%;}
.type-career .entry-content .careers-description .panel-body div ul li span {font-size:100%;}
.btn-info {background:none;color:#4a4a4a;text-shadow:none}
.type-tender .table-bordered {font-size:140%}

.dataTables_filter .filter_news_tag {font-size:100%;}

.entry-content .upcoming_event_table p {font-size:100%;}
#post-1167237 .entry-content .wpcf7-remark p {font-size:100%;}

.new_release_search_form {color:#12366C; margin-top: -90px;}
.new_release_search_form .filter_label {font-size:120%; font-weight: normal; line-height:35px; float:left; margin-right: 10px;}
.new_release_search_form input {width:auto;font-size: 100%;box-shadow: none;height: auto; border-radius: 0px; color:#12366C;}
.new_release_search_form input,
.new_release_search_form select {font-size:100%; border-color:#12366C; padding: 4px 15px; font-weight: normal; line-height:25px; outline:none;height: 35px; float:left; margin-left:10px; margin-bottom:10px;}

.new_release_search_form input::-webkit-input-placeholder {color:#12366C;}
.new_release_search_form input::-moz-placeholder {color:#12366C;}
.new_release_search_form input:-ms-input-placeholder {color:#12366C;}
.new_release_search_form input:-moz-placeholder {color:#12366C;}

.new_release_search_form .input_search_year {width:70px;}
.new_release_search_form .input_search_key {width:260px; border-radius: 20px; background-image: url(../images/menu-search.png);background-repeat: no-repeat;background-position: right 14px center;background-size: 22px 22px;padding-right: 40px;}

@media (max-width: 991px) and (min-width: 1px) {
	.new_release_search_form {margin-top: 0px;}
}
@media (max-width: 767px) and (min-width: 1px) {
	.new_release_search_form .dataTables_filter {float:left;}
	.container {padding:0px 10px;}
	.std-box-margin {margin:0px;}
}

#post-1100205 .entry-content h2,
#post-1100206 .entry-content h2,
#post-1100207 .entry-content h2 {font-size:220%;}

.type-tdprojects .entry-content.tdprojects {font-size:160%}
.type-tdprojects .entry-content.tdprojects em,
.type-tdprojects .entry-content.tdprojects p,
.type-tdprojects .entry-content.tdprojects strong,
.type-tdprojects .entry-content.tdprojects li,
.type-tdprojects .entry-content.tdprojects .su-table {font-size:100%;}

.type-tdprojects .entry-content.tdprojects .std-box-title {font-size:138%;}
.type-tdprojects .entry-content.tdprojects .std-box-desc {font-size:88%;}

#post-1100424 .entry-content em,
#post-1100425 .entry-content em,
#post-1100426 .entry-content em {font-size:100%;}

.shuffle-hidden {display:none;}
.shuffle-hidden img {display:none;}


.section-milestone {padding-left:20px; max-width:840px;}
.section-milestone-item {border-left:10px solid #DEE5E9; display: inline-block; width: 100%;}
.item-year {padding-left: 70px; position: relative; line-height: 40px; font-size: 340%; font-weight: bold; background-color: #FFFFFF; margin-left:-25px;}
.item-year-icon {width: 40px; height: 40px; border: 5px solid; border-radius: 50%; position:absolute; left:0px;}
.item-content {padding-left:40px; padding-top:30px; padding-bottom:60px; display: inline-block;}
.item-content p {padding:0px 5px;}
.padding-block {padding:0px 20px;}

.donut-chart-block {overflow: hidden; margin:5px 0px;}
.donut-chart-name {text-align:center; font-size: 160%;}
.donut-chart {position: relative; width: 80px; height: 80px; border-radius: 100%; margin:auto;}
.donut-chart .center-bg {background: #E4E1EF; position: absolute; top: 0px; left: 0px; height: 80px; width: 80px; border-radius: 50%; text-align: center;}
.donut-chart .center {background: #FFFFFF; position: absolute; top: 6px; left: 6px; height: 68px; width: 68px; border-radius: 50%; text-align: center; /* line-height: 70px; */ font-size: 160%; color:#7769AF;}
.donut-chart .center p {font-size:100%;}
.donut-chart .center em {font-size:100%;}
.donut-chart .center strong {font-size:100%;}
.donut-chart .center li {font-size:100%;}
.donut-chart .center .center-title1 {font-size:100%; font-weight:bold;}
.donut-chart .center .center-title2 {font-size:80%;}
.donut-clip {border-radius: 50%; height: 100%; position: absolute; width: 100%;}
.donut-item {border-radius: 50%; height: 100%; position: absolute; width: 100%; font-family: monospace; }

.border-box {padding:20px; margin-bottom:15px;}
.border-box p {font-size:160%; padding:0px;}
.border-box-title {font-size:300%; padding: 7px 0px;}
.border-box-title p {font-size:100%;}
@media (min-width: 1px) and (max-width: 991px) {
	.border-box {margin-left:0px !important;}
}

.ways-of-collaboration-item {padding:5px; font-size:160%;}
.ways-of-collaboration-item .padding-block {border:1px solid transparent}
.ways-of-collaboration-item .padding-block.have_border {border-color:#DADADA; padding:30px 45px;}
@media (min-width: 1px) and (max-width: 767px) {
	.ways-of-collaboration-item .padding-block.have_border {border-color:#DADADA; padding:20px 20px;}
}
.ways-of-collaboration-item .title {font-size:160%; margin-bottom:15px;}
/* .ways-of-collaboration-item  img {max-width: 575px; max-height: 180px;} */
.ways-of-collaboration-item .no_border img {max-width: 100%; max-height: 100%; height:initial; width:initial;}
.ways-of-collaboration-item .subtitle1 {font-size:100%; font-weight:bold;}
.entry-content .ways-of-collaboration-item p,
.entry-content .ways-of-collaboration-item strong,
.entry-content .ways-of-collaboration-item em {font-size:100%;}

.our-values {padding:100px 10px 120px}
.our-values-box {position:absolute;}
.our-values-box .border {border-radius:5px; background-color:#FFFFFF; padding:10px; width:290px;}
.our-values-box.box-4 .border {width:auto;}
.our-values-box.box-1 {bottom: 82%; right: 64%; }
.our-values-box.box-2 {bottom: 87%; left: 67%; }
.our-values-box.box-3 {top: 52%; left: 76%; }
.our-values-box.box-4 {top: 98%; left: 25%; right: 25%; }
.our-values-box.box-5 {top: 52%; right: 76%; }

.our-values-box .box-title {font-size:200%; margin-bottom:10px;}
.our-values-box .box-description {font-size:160%;}
.our-values-box .box-description p {font-size:100%; margin-bottom:0px;}

.our-values-box.box-1 .box-title,
.our-values-box.box-5 .box-title {text-align:right;}
.our-values-box.box-1 .box-description,
.our-values-box.box-5 .box-description {text-align:right;}
.our-values-box.box-1 .box-description p,
.our-values-box.box-5 .box-description p {text-align:right;}

.our-values-box.box-2 .box-title,
.our-values-box.box-3 .box-title,
.our-values-box.box-4 .box-title {text-align:left;}
.our-values-box.box-2 .box-description,
.our-values-box.box-3 .box-description,
.our-values-box.box-4 .box-description {text-align:left;}
.our-values-box.box-2 .box-description p,
.our-values-box.box-3 .box-description p,
.our-values-box.box-4 .box-description p {text-align:left;}

.our-values-box.box-1 .border {border:3px solid #79553B;}
.our-values-box.box-2 .border {border:3px solid #7C6E41;}
.our-values-box.box-3 .border {border:3px solid #0F556E;}
.our-values-box.box-4 .border {border:3px solid #556946;}
.our-values-box.box-5 .border {border:3px solid #47455A;}
.our-values-image {width:50%; margin:auto; text-align: center; position: relative; }

@media (min-width: 1px) and (max-width: 1199px) {
	.our-values-box.box-1 {right: 67%; }
	.our-values-box.box-2 {left: 70%; }
	.our-values-box.box-3 { left: 82%; }
	.our-values-box.box-4 {left: 20%; right: 20%; }
	.our-values-box.box-5 {right: 84%; }
}
@media (min-width: 1px) and (max-width: 991px) {
	.our-values-image {width:100%;}
	.our-values-image img {display:none;}
	.our-values-box {position:relative;}
	.our-values-box.box-1,
	.our-values-box.box-2,
	.our-values-box.box-3,
	.our-values-box.box-4,
	.our-values-box.box-5 {left:0px; right:0px;}
	.our-values-box.box-1 .box-title,
	.our-values-box.box-2 .box-title,
	.our-values-box.box-3 .box-title,
	.our-values-box.box-4 .box-title,
	.our-values-box.box-5 .box-title {text-align:left;}
	.our-values-box.box-1 .box-description,
	.our-values-box.box-2 .box-description,
	.our-values-box.box-3 .box-description,
	.our-values-box.box-4 .box-description,
	.our-values-box.box-5 .box-description {text-align:left;}
	.our-values-box.box-1 .box-description p,
	.our-values-box.box-2 .box-description p,
	.our-values-box.box-3 .box-description p,
	.our-values-box.box-4 .box-description p,
	.our-values-box.box-5 .box-description p {text-align:left;}

	.our-values {padding: 20px 0px;}
	.our-values-box .border {margin:0px auto 15px auto;}
	.our-values-box.box-1 .border,
	.our-values-box.box-2 .border,
	.our-values-box.box-3 .border,
	.our-values-box.box-4 .border,
	.our-values-box.box-5 .border {width:60%;}
}

@media (min-width: 1px) and (max-width: 480px) {
	.our-values-box.box-1 .border,
	.our-values-box.box-2 .border,
	.our-values-box.box-3 .border,
	.our-values-box.box-4 .border,
	.our-values-box.box-5 .border {width:100%;}
}

@media print {
	.print_disable {display: none;}
	.breadcrumbs {display: none;}
	.career .page-banner.center {display: none;}
	.panel-body { font-size: 8pt;}
}

.mb_langs li {text-align:right;padding-right:45px}
.mobile-nav-btn {padding:0px;}

.padding-block {padding:50px 10px; text-align:center;}
@media (min-width: 1px) and (max-width: 767px) {
	.padding-block {padding:50px 0px;}
}
.entry-content .padding-block p {text-align:center;}

input.btn_back {
	border: 0px;
	background-color: white;
	color: #13366d;
	font-size: 21px;
}

@media (min-width: 1px) and (max-width: 279px) {
	.app_link_icon {
		max-width: 100px;
		max-height: 25px;
		padding-right: 14px;
	}
	.app_link_icon_td, .app_link_text_td {
		padding: 7px;
	}
	.app_link_text_td{
		/*width: 168px;*/
	}
	.app_link_big {
		font-size: 15px;
		white-space: nowrap;
	}
	.app_link_small {
		font-size: 11px;
		white-space: nowrap;
	}
}

@media (min-width: 280px) and (max-width: 320px) {
	.app_link_icon {
		max-width: 120px;
		max-height: 31px;
		padding: 0px 7px;
	}
	.app_link_icon_td, .app_link_text_td {
		padding: 7px;
	}
	.app_link_text_td{
		/*width: 168px;*/
	}
	.app_link_big {
		font-size: 15px;
		white-space: nowrap;
	}
	.app_link_small {
		font-size: 11px;
		white-space: nowrap;
	}
}

@media (min-width: 321px) and (max-width: 767px) {
	.app_link_icon {
		max-width: 140px;
		max-height: 36px;
		padding-right: 14px;
	}
	.app_link_icon_td, .app_link_text_td {
		padding: 7px;
		float: left;
		margin-bottom: 20px;
	}
	.app_link_text_td{
		/*width: 168px;*/
		margin-bottom: 0px;
	}
	.app_link_big {
		font-size: 15px;
		white-space: nowrap;
	}
	.app_link_small {
		font-size: 11px;
		white-space: nowrap;
	}
}

@media (min-width: 768px){
	.app_link_icon {
		max-width: 150px;
		max-height: 44px;
		margin-right: 14px;
	}
	.app_link_icon_td, .app_link_text_td {
		padding: 7px;
		float: left;
		margin-bottom: 20px;
	}
	.app_link_big {
		font-size: 17px;
		white-space: nowrap;
	}
	.app_link_small {
		font-size: 13px;
		white-space: nowrap;
	}
}

.entry-content {
	clear: both;
}

.newsletter .pagination {
	font-size: 100%;
}

.wpcf7-remark .wpcf7-list-item .wpcf7-list-item-label {font-size:100%}
.wpcf7-remark .wpcf7-form-control-wrap {margin-bottom:0px}
.wpcf7-remark label {font-weight: normal;display: inline;max-width: inherit;}
