/*
Theme Name: Bootstrap Basic
Theme URI: http://rundiz.com
Author: Vee Winch
Author URI: 
Description: Bootstrap v.3 basic theme for developers to build their new theme very fast and easy. You can support theme author by <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9HQE4GVV4KTZE" target="donate">donate</a>. To follow what was changed, please look for <a href="https://github.com/Rundiz/bootstrap-basic" target="commits">commits</a> of this theme at Github.
Version: 1.0.12
License: MIT
License URI: http://opensource.org/licenses/MIT
Text Domain: bootstrap-basic
Domain Path: /languages/
Tags: one-column, two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-menu, featured-images, front-page-post-form, post-formats, threaded-comments, translation-ready

This theme built with Twitter Bootstrap v.3. It is basic theme with basic style for build new theme with Bootstrap.

*/

/*
Required WordPress CSS
*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.bypostauthor {
}


/* WordPress gallery */
.gallery-caption {
}
.gallery {
	margin-bottom: 1.6em;
}
.gallery-item {
	display: inline-block;
	padding: 1.79104477%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-icon img {
	margin: 0 auto;
}
.gallery-caption {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	display: block;
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


.sticky {
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.post-1100211  .thumbnail img ,
.post-1100212  .thumbnail img ,
.post-1100213  .thumbnail img {max-width:91px;}

.post-1100202 *
, .post-1100204 *
, .post-1100203 *{font-size:16px}

.post-1100202 h1
, .post-1100204 h1
, .post-1100203 h1{font-size:28px} 

.fontsize160 {
	font-size: 160%;
}

.status-publish .consultancy-descriptions {
	font-size: 160%;
}
.status-publish .consultancy-descriptions p {
	font-size: 100%;
}
.status-publish .consultancy-service_scope {
	font-size: 100%;
}
.status-publish .consultancy-requirements {
	font-size: 100%;
}
.status-publish .consultancy-deliverables {
	font-size: 160%;
}
.status-publish .consultancy-deliverables p, .status-publish .consultancy-deliverables ul li {
	font-size: 100%;
}
.status-publish .consultancy-duration {
	font-size: 160%;
}
.status-publish .consultancy-referral {
	font-size: 160%;
}
.status-publish .consultancy-referral p {
	font-size: 100%;
}

.status-draft .consultancy-descriptions {
	font-size: 160%;
}
.status-draft .consultancy-descriptions p {
	font-size: 100%;
}
.status-draft .consultancy-service_scope {
	font-size: 100%;
}
.status-draft .consultancy-requirements {
	font-size: 100%;
}
.status-draft .consultancy-deliverables {
	font-size: 160%;
}
.status-draft .consultancy-deliverables p, .status-draft .consultancy-deliverables ul li {
	font-size: 100%;
}
.status-draft .consultancy-duration {
	font-size: 160%;
}
.status-draft .consultancy-referral {
	font-size: 160%;
}
.status-draft .consultancy-referral p {
	font-size: 100%;
}

@media (min-width: 280px) and (max-width: 320px) {
	.app_link_icon {
		max-width: 120px;
		max-height: 31px;
		padding: 0px 7px;
	}
	.app_link_icon_td, .app_link_text_td {
		padding: 7px;
	}
	.app_link_text_td{
		/*width: 168px;*/
	}
	.app_link_big {
		font-size: 15px;
		white-space: nowrap;
	}
	.app_link_small {
		font-size: 11px;
		white-space: nowrap;
	}
}

@media (min-width: 321px) and (max-width: 767px) {
	.app_link_icon {
		max-width: 140px;
		max-height: 36px;
		padding-right: 14px;
	}
	.app_link_icon_td, .app_link_text_td {
		padding: 7px;
		float: left;
		margin-bottom: 20px;
	}
	.app_link_text_td{
		/*width: 168px;*/
		margin-bottom: 0px;
	}
	.app_link_big {
		font-size: 15px;
		white-space: nowrap;
	}
	.app_link_small {
		font-size: 11px;
		white-space: nowrap;
	}
}

@media (min-width: 768px){
	.app_link_icon {
		max-width: 150px;
		max-height: 44px;
		margin-right: 14px;
	}
	.app_link_icon_td, .app_link_text_td {
		padding: 7px;
		float: left;
		margin-bottom: 20px;
	}
	.app_link_big {
		font-size: 17px;
		white-space: nowrap;
	}
	.app_link_small {
		font-size: 13px;
		white-space: nowrap;
	}
}

.entry-content {
	clear: both;
}

/* print */
@media print {
	#site-footer { display: none }
	div.print_disable { display: none }
	a[href]:after {
		content: none !important;
	}
	div.collapse.navbar-collapse.navbar-primary-collapse { display: none }
	div.entry-nav.col-xs-12 { display: none }
	div.alignright.entry-share.non-printable { display: none }
	h1.entry-title { display: block }
	header.entry-header.printable { display: block }
	.page-banner img { display: block }
	.page-banner.full img { display: block }
	div.page-banner.center { display: block }
}